/* Styles for the Modal route */
.syntax-error-modal{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999998;
    top: 0;
    left: 0;
    display: none;
}

.syntax-error-modal.obtrusive{
    background-color: rgba(51, 51, 51, 0.80);
}

.syntax-error-modal  .message.obtrusive{
    border-radius: 5px;
    box-shadow: 0 0 0 1px #000;
    position: fixed;
    z-index: 999999;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: 10%;
    text-align: left;
    background-color: #D43F3A;
    border: 1px solid #fff;
    color: white;
    padding: 2em;
    font-size: x-small;
    font-family: monospace;
    white-space: pre-wrap;
    line-height: 1.2em;
}

.syntax-error-modal .message.unobtrusive {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #D43F3A;
    border-bottom: 1px solid #fff;
    color: white;
    padding: 0.2em 1em 0.2em;
}

.syntax-error-modal p{
    font-size: x-small;
    padding: 0;
    margin: 0;
}

.syntax-error-modal a,.syntax-error-modal a:visited{
    color: #222222;
}

.syntax-error-modal a:hover{
    color: #222222;
    text-decoration: underline;
}


.syntax-error-modal .reload-message{
    border-radius: 3px;
    box-shadow: 0 0 0 1px #000;
    background-color: #B80A0A;
    font-size: large;
    padding: 1em;
    text-align: center;
    margin-top: 1em;
    border: 1px solid #fcc;
    cursor: pointer;
}