/* Styles for the Modal route */
.syntax-error-container{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999998;
    top: 0;
    left: 0;
    display: none;
}

.syntax-error-container{
    background-color: rgba(51, 51, 51, 0.80);
}

.syntax-error-modal a,.syntax-error-modal a:visited{
    color: #222222;
}

.syntax-error-modal a:hover{
    color: #222222;
    text-decoration: underline;
}

.syntax-error-modal .highlight {
    font-size: large;
    font-weight: bold;
}

.syntax-error-message {
    padding: 1em;
}

.syntax-error-message p{
    text-align: left;
    font-size: x-small;
    font-family: monospace;
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: 0;
    margin: 0;
    color: #FFF8F7;
}

.obtrusive .syntax-error-header {
    position: relative;
    font-size: x-large;
    color: #FFF8F7;
    font-weight: bold;
    text-align: center;
    padding: 0.5em;
    margin: 0;
    border-bottom: 1px solid #FFF8F7;
    background: rgba(183, 74, 27, 0.85) url('/packages/smeevil_syntax-error-notifier/warning_small.png') no-repeat;
    background-position-x: 0.3em;
    background-position-y: 0.3em;
}

.obtrusive .syntax-error-modal {
    box-shadow: 0 0 0 1px #000;
    position: fixed;
    z-index: 999999;
    left: 0;
    right: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: 10%;
    background-color: rgba(222, 90, 35, 0.85);
}

.unobtrusive .syntax-error-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(222, 90, 35, 0.85);
}

.unobtrusive .syntax-error-modal p:before{
    content: 'Your app is crashing : ';
    font-weight: bold;
}


.unobtrusive .syntax-error-header{
    display: none;
}

